.login-yan{
	position: absolute;
    top: -3px;
    right: 10px;
    padding: 5px 10px;
}
.theme-white .login-yan{
    background: #32c5d2;
    color: #fff;
}
.theme-white .login-yan:hover, .theme-white .login-yan:active{
    background: #2797a0;
    color: #fff;
}
.theme-black .login-yan {
    border: 1px solid #b5b5b5;
    background-color: rgba(0, 0, 0, 0);
    color: #b5b5b5;
}
.theme-black .login-yan:hover, .theme-black .login-yan:active {
    background: #b5b5b5;
    color: #fff;
}