
html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center; /*定义body的元素垂直居中*/
    justify-content: center; /*定义body的里的元素水平居中*/
}
.logo-content img{
    display: block;
    margin: 30px auto;

}
.wrapper{
    top: -15%;
    max-width: 320px;
}